@import "tailwindcss";

@theme {
  --font-vazir: var(--font-vazir);
  
  --color-background: #020617; /* Slate-950 */
  --color-foreground: #f8fafc; /* Slate-50 */
  
  --color-primary: #10b981; /* Emerald-500 */
  --color-secondary: #f43f5e; /* Rose-500 */
}

/* تنظیمات پایه */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-vazir), sans-serif;
}